@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.font-roboto {
  font-family: 'Roboto', sans-serif;
}

$color-grey: #8C8C8C;
$colro-black-grey: #757575;


.Container {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
  margin-top: 169px;

  h4 {
    color: $color-grey;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28.8px;
    align-self: flex-start;
    margin: 50px;
    margin-top: 0;
  }

  img {
    height: 500px;
    width: 420px;
  }

  .Conteiner__Cards {

    .Container__Card--minimalism {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      align-items: center;
      text-align: center;

      p {
        color: #757575;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px;
      }
    }
  }
}
